$bambu: #0C3C4A;
$black: #000;
$light: #999999;
$white: #fff;
$red: #d63031;


$light-gray: #F4F6FD;
$turquoise: #00bfa5;


$fusia: #de1dde;
$dark-gray: #3c3e44;
$white: #fff;
$red: #d63031;
$black: #000;

$green1: #00b5cc;
$green2: #00353e;
$green3: #b2df28;

$blue1: #26323c;
$blue2: #1a2631;