@import '../../../../../assets/scss/parcials/colors';
.char {
    width: 100%;
    background-color: $blue1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transition: all .4s ease 0s;
    .char-pic {
        img {
            
            height: 150px;
            width: 150px;
            border: 10px solid $blue2;
        }
    }
    .char-body {
        padding: 1rem;
        color: $white;
    }
    &:hover {
        box-shadow: rgba($green1, .1) 0px 20px 30px;
        cursor: pointer;
    }
}